.about-hero {
  position: relative;
  height: 60vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 246, 246);
}

.about-hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 50, 150, 0.6);
}

.about-hero-text {
  position: relative;
  text-align: center;
  z-index: 1;
}

.about-hero-text h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.about-story {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.about-story h2 {
  color: #004aad;
  margin-bottom: 20px;
}

.about-story p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #333;
}

.mission-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-color: #f7f9fc;
  padding: 60px 20px;
}

.mission,
.vision {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.mission h3,
.vision h3 {
  color: #004aad;
}

.core-values {
  padding: 70px 20px;
  text-align: center;
}

.core-values h2 {
  color: #004aad;
  margin-bottom: 40px;
}

.values-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.value-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
}

.value-card img {
  width: 70px;
  margin-bottom: 15px;
}

.value-card h4 {
  color: #004aad;
  margin-bottom: 10px;
}

.teachers-achievements {
  background-color: #f7f9fc;
  padding: 70px 20px;
}

.teachers h2,
.achievements h2 {
  color: #004aad;
  text-align: center;
  margin-bottom: 30px;
}

.teacher-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.teacher-card {
  background-color: white;
  border-radius: 15px;
  width: 220px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.teacher-card img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.achievements ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.achievements li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
}


@media (max-width: 768px) {
  .mission-vision {
    flex-direction: column;
    align-items: center;
  }
  .values-grid {
    flex-direction: column;
    align-items: center;
  }
}